body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

input {
    max-width: 400px !important;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

img.img {
    max-width: 150px;
    max-height: 225px;
    position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    width: 125px;
    object-fit: cover;
}

img.logo {
    max-width: 150px;
    max-height: 225px;
    left: 50%;
    width: 100px;
    object-fit: cover;
}

div#bookCard .card, div#bookOtherPublisherCard .card {
    box-shadow: 5px 10px 12px 12px rgb(120 43 45 / 10%), 0 6px 20px 0 rgb(43 45 56 / 10%);
}

.center {
    margin: auto;
    width: 100%;
    border: 0.1px solid antiquewhite;
    padding: 10px;
}

.image {
    padding: 10px;
    transition: transform .2s;
    width: 150px;
    height: 225px;
    margin: 0 auto;
}

    .image:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }


/*--------------------------*/

* {
    box-sizing: border-box
}


nav {
    padding: 0px 100px
}



.form-group {
    margin-bottom: 5px
}

label {
    padding-left: 10px
}

.form-group:last-child {
    margin-bottom: 0
}

h6 {
    margin-bottom: 0px
}

#sort {
    outline: none;
    border: none
}

.btn {
    border-radius: 10px;
}

    .btn:hover {
        color: #fff;
        background-color: cornflowerblue
    }

.card-body {
    padding: 8px
}

.sign {
    width: 25px;
    height: 25px
}



@media(min-width:1200px) {
   

    .text {
        display: none
    }

    

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        width: 400px;
        
    }

    .card-img-top {
        width: 295px;
        height: 400px;
        border-radius: 10px
    }

    del {
        padding-right: 2px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:992px) and (max-width:1199px) {
    

    .text {
        display: none
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        width: 300px;
        height: 430px;
        border: none
    }

    .card-img-top {
        width: 200px;
        height: 200px;
        border-radius: 10px
    }

    .fa-plus,
    .fa-minus {
        font-size: 12px
    }

    .sign {
        height: 25px
    }

    .price {
        width: 99px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:768px) and (max-width:991px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }

    .search-nav-item {
        margin-left: 60px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 80px
    }

    .text {
        display: none
    }

    #sidebar {
        width: 35%;
        padding: 20px;
        float: left
    }

    #products {
        width: 65%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        border: none
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:576px) and (max-width:767px) {
    .text {
        display: none
    }

    

    .fa-search {
        padding: 3px;
        font-size: 18px
    }

    #sidebar {
        width: 40%;
        padding: 20px;
        float: left
    }

    #products {
        width: 60%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        border: none
    }

    #off {
        padding-left: 2px
    }

    #sorting span,
    #res {
        font-size: 14px
    }
    
    .filter,
    #mobile-filter {
        display: none
    }
}

@media(max-width:575px) {
   

    #sidebar {
        display: none
    }

    .filter {
        margin-left: 70%;
        margin-top: 2%
    }

    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }
}