
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>

<div class="col-md-3 mb-5">
    <select class="custom-select" id="selectSort" onchange="getProduct(this.value, 1)">
        <option selected disabled>Sıralama</option>
        <option value="1">Düşükten Yükseğe</option>
        <option value="2">Yüksekten Düşüğe</option>
        <option value="3">A'dan Z'ye </option>
        <option value="4">Z'den A'ya </option>
    </select>

</div>


