
<div class="col-md-4">
    <h5 class="text-muted text-info">
        @ViewBag.TotalBooks kitap arasından
        @((ViewBag.BookPerPage * (ViewBag.CurrentPage -1) == 0 ? 1 : ViewBag.BookPerPage * (ViewBag.CurrentPage - 1)) + "-" + ViewBag.BookPerPage * ViewBag.CurrentPage) arası gösteriliyor.
    </h5>
</div>

<div class="col-md-5">
    @*<input type="button" class="m-2" id="btnCardSize3" value="3" onclick="changeCardSize(this.value)">
        <input type="button" class="m-2" id="btnCardSize4" value="4" onclick="changeCardSize(this.value)">
        <input type="button" class="m-2" id="btnCardSize6" value="6" onclick="changeCardSize(this.value)">*@

    <div class="d-flex card-size" style="margin-left: 100px;">
        <button id="btnCardSize3" value="3" onclick="changeCardSize(this)">
            <span class="blockBtn threeBlock">
                <span></span>
                <span></span>
                <span></span>
                <br>
                <span></span>
                <span></span>
                <span></span>

            </span>
        </button>

        <button id="btnCardSize4" value="4" onclick="changeCardSize(this)">

            <span class="blockBtn fourBlock active">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <br>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
        <button id="btnCardSize6" value="6" onclick="changeCardSize(this)">
            <span class="blockBtn sixBlock">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <br>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
    </div>
</div>

<div class="col-md-3 mb-3">
    <select class="custom-select" id="selectSort" onchange="getProduct(this.value, 1)">
        <option selected disabled>Sıralama</option>
        <option value="1">Fiyat Düşükten Yükseğe</option>
        <option value="2">Fiyat Yüksekten Düşüğe</option>
        <option value="3">A'dan Z'ye </option>
        <option value="4">Z'den A'ya </option>
    </select>

</div>
